In [11]:
import pandas as pd

In [12]:
schools_path = "..//Resources//schools_complete.csv"
students_path = "..//Resources//students_complete.csv"

In [13]:
schools_df = pd.read_csv(schools_path)
students_df = pd.read_csv(students_path)

In [14]:
school_data_complete = pd.merge(students_df, schools_df, how="left", on=["school_name", "school_name"])

In [23]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [16]:
school_data_complete.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [17]:
Total_Schools = len(schools_df['school_name'].unique())
Total_Students = students_df['student_name'].count()
Total_Budget = schools_df['budget'].sum()
Average_Math_Score = students_df['math_score'].mean()
Average_Reading_Score = students_df['reading_score'].mean()
Percent_Passing_Math = (len(students_df.loc[students_df['math_score'] >= 70]) / Total_Students) * 100
Percent_Passing_Reading = (len(students_df.loc[students_df['reading_score'] >= 70]) / Total_Students) * 100
Overall_Passing = (len(students_df.loc[(students_df['math_score'] >= 70) & (students_df['reading_score'] >= 70)]) / Total_Students) * 100


District_Summary = pd.DataFrame({'Total Schools': [Total_Schools], 'Total Students': [Total_Students], 'Total Budget': [Total_Budget], 'Average Math Score': [Average_Math_Score], 'Average Reading Score': [Average_Reading_Score], '% Passing Math': [Percent_Passing_Math], '% Passing Reading': [Percent_Passing_Reading], '% Overall Passing': [Overall_Passing]})
District_Summary['Total Budget'] = District_Summary['Total Budget'].map("${0:,.2f}".format)
District_Summary['Average Math Score'] = District_Summary['Average Math Score'].map("{:.2f}".format)
District_Summary['Average Reading Score'] = District_Summary['Average Reading Score'].map("{:.2f}".format)
District_Summary['% Passing Math'] = District_Summary['% Passing Math'].map("{:.2f}%".format)
District_Summary['% Passing Reading'] = District_Summary['% Passing Reading'].map("{:.2f}%".format)
District_Summary['% Overall Passing'] = District_Summary['% Overall Passing'].map("{:.2f}%".format)
District_Summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

In [31]:
grouped_school = school_data_complete.groupby(['school_name'])

In [54]:
passing_math_df = school_data_complete[school_data_complete['math_score'] >= 70]
passing_math_grouped = passing_math_df.groupby(['school_name'])
passing_reading_df = school_data_complete[school_data_complete['reading_score'] >= 70]
passing_reading_grouped = passing_reading_df.groupby(['school_name'])
passing_both_df = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)]
passing_both_grouped = passing_both_df.groupby(['school_name'])

In [56]:

school_type = grouped_school['type'].unique().str[0]
school_students = grouped_school['Student ID'].count()
school_budget = grouped_school['budget'].unique().astype(int)
per_student_budget = school_budget / school_students
averageschool_math_score = grouped_school['math_score'].mean()
averageschool_reading_score = grouped_school['reading_score'].mean()


passing_math_school = (passing_math_grouped['math_score'].count() / school_students) * 100
passing_reading_school = (passing_reading_grouped['reading_score'].count() / school_students) * 100
passing_both_school = (passing_both_grouped['student_name'].count() / school_students) * 100


school_summary_df = pd.DataFrame({'School Type': school_type, 'Total Students': school_students, 'Total School Budget': school_budget, 'Per Student Budget': per_student_budget, 'Average Math Score': averageschool_math_score, 'Average Reading Score': averageschool_reading_score, '% Passing Math': passing_math_school, '% Passing Reading': passing_reading_school, '% Overall Passing': passing_both_school})
school_summary_df['Total School Budget'] = school_summary_df['Total School Budget'].map("${0:,.2f}".format)
school_summary_df['Per Student Budget'] = school_summary_df['Per Student Budget'].map("${0:,.2f}".format)
school_summary_df['% Passing Math'] = school_summary_df['% Passing Math'].map("{0:,.2f}%".format)
school_summary_df['% Passing Reading'] = school_summary_df['% Passing Reading'].map("{0:,.2f}%".format)
school_summary_df['% Overall Passing'] = school_summary_df['% Overall Passing'].map("{0:,.2f}%".format)

school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.68%,81.93%,54.64%
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.13%,97.04%,91.33%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.99%,80.74%,53.20%
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.31%,79.30%,54.29%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.39%,97.14%,90.60%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.51%,96.25%,89.23%
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.68%,81.32%,53.51%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.59%,95.95%,90.54%
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.37%,80.22%,52.99%
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.87%,95.85%,89.89%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.27%,97.31%,90.95%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.87%,96.54%,90.58%
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.33%,96.61%,90.33%

In [ ]:
grouped_grade = school_data_complete.groupby(['grade'])

In [ ]:
grouped_grade.count().head()